@import "tailwindcss";

@theme {
  --color-dark-sky-50: #e9eaf0;
  --color-dark-sky-100: #b9bfd1;
  --color-dark-sky-200: #989fbb;
  --color-dark-sky-300: #68749c;
  --color-dark-sky-400: #4b5989;
  --color-dark-sky-500: #1e2f6b;
  --color-dark-sky-600: #1b2b61;
  --color-dark-sky-700: #15214c;
  --color-dark-sky-800: #111a3b;
  --color-dark-sky-900: #0d142d;

  --color-blue-50: #ebeffb;
  --color-blue-100: #c2ccf4;
  --color-blue-200: #a5b4ee;
  --color-blue-300: #7c91e7;
  --color-blue-400: #627ce2;
  --color-blue-500: #3b5bdb;
  --color-blue-600: #3653c7;
  --color-blue-700: #2a419b;
  --color-blue-800: #203278;
  --color-blue-900: #19265c;

  --color-lilac-sky-50: #f6f8ff;
  --color-lilac-sky-100: #e3e8fe;
  --color-lilac-sky-200: #d6ddfe;
  --color-lilac-sky-300: #c3cdfd;
  --color-lilac-sky-400: #b7c3fd;
  --color-lilac-sky-500: #a5b4fc;
  --color-lilac-sky-600: #96a4e5;
  --color-lilac-sky-700: #7580b3;
  --color-lilac-sky-800: #5b638b;
  --color-lilac-sky-900: #454c6a;

  --background-image-main: 
    linear-gradient(to bottom, #050918 0%, #0d142d 50%, transparent 200%),
    radial-gradient(circle at 30% 110%, #3686FC 0%, #E52CE2 25%, #0D142D 100%);

  --font-sans: "Inter", sans-serif;
  --font-display: "Nunito", sans-serif;
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-dark-sky-900);
  background-image: var(--background-image-main);
  background-attachment: fixed;
}

body {
  line-height: 1.5;
  font-family: var(--font-sans);
}

h1, h2, h3 {
  font-family: var(--font-display);
  font-weight: 900;
}

/* Di index.css */
@layer base {
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #0D142D; 
  }
  ::-webkit-scrollbar-thumb {
    background: #1e293b;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #334155;
  }
}